services:
  - type: web
    name: attendance
    runtime: python
    plan: starter
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.11
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: attendance-db
          property: connectionString

  - type: pserv
    name: attendance-db
    plan: starter
    databaseName: attendance
    user: attendance_user
